<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
    <!-- Autorise les modules ASP.NET pour toutes les requêtes -->
    <modules runAllManagedModulesForAllRequests="true" />

    <!-- Page par défaut -->
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="auth/Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

  <connectionStrings>
    <add name="MaConnexion"
         connectionString="Server=MAHEFA_DESKTOP\SQLECOLE;Database=MONAPPECOLE2;User Id=sa;Password=admin123;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="LicenceSecret" value="MON_APP_ECOLE_1512" />
    <add key="Version" value="1.1.5" />
  </appSettings>

  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="fr-FR" uiCulture="fr" />
    <compilation debug="true" targetFramework="4.8" />
    <customErrors mode="Off" />
    <authentication mode="None" />
    <sessionState mode="InProc" timeout="20" />
  </system.web>

</configuration>
