/*
Source - https://stackoverflow.com/a/78329024
Posted by Abdur Rehman, modified by community. See post 'Timeline' for change history
Retrieved 2026-04-22, License - CC BY-SA 4.0
*/

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.header__info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.infoboard__wrapper {
    display: flex;
    gap: 15px;
    background-color: #f1f1f1;
    padding: 5px 10px;
    border-radius: 10px;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.view {
    margin: auto;
    width: 100vw;
}

table {
    width: 100%;
    table-layout: fixed;

    /* Removed the border-collapse and added border spacing 0  */
    border-spacing: 0;
}

thead tr th {
    /* Added the border top to the table header */
    border-top: 1px solid #dddddd;
}

th {
    position: sticky;
    top: 0;
}

td,
th {
    text-align: left;
    padding: 8px;
    
    /* Removed the border */
    border: none;

    /* Added the box-shadow as the border */
    box-shadow: 0 0 0 1px #dddddd;
    
    background-color: white;
    box-sizing: border-box;
}

table th:not(:nth-child(1)):not(:nth-child(2)) {
    width: 300px;
}

tr:nth-child(even) td {
    background-color: #dddddd;
}

.wrapper {
    position: relative;
    width: 100%;
    height: calc(100vh - var(--header-height) - 15px);
    overflow: scroll;
}

.sticky-col {
    position: sticky;
    z-index: 1;
}

th.sticky-col {
    z-index: 2;
}

.first-col {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    left: 0;
}

.second-col {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    left: 150px;
}

.wrapped-content {
    width: 250px;
    white-space: normal;
}